.formu {
	margin: auto;
	padding-top: 16rem;
}

.form {
	display: flex;
	flex-direction: row;
	width: 90vw;
	margin: auto;
	border-radius: 1em;
}

.form__container {
	width: 100%;
	display: grid;
	gap: 1em;
	grid-auto-columns: 100%;
}

.form__title {
	text-align: center;
	font-size: 1.9rem;
	margin-bottom: .4em;
}

.form__input {
	font-size: 1rem;
	padding: .8em 1em;
	outline: none;
	border: none;

	border-radius: 40px;
	background: rgba(104, 255, 249, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
}

.form__input--message {
	resize: none;
	padding: 1.8em 1em;
	margin-bottom: .5em;
}

.form__cta {
	font-size: 1rem;
	border: none;
	border-radius: 40px;
	font-weight: 300;
	padding: .7em 0;
	cursor: pointer;

	background-color: #fffaf090;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
}



