.about {
	text-align: center;
	margin: auto;
	color: white;
}

.arrow {
	margin-top: 6rem;
	font-size: 3rem;
	color: #ffffff90;
	animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.tituli {
	font-size: 2rem;
}
.texto {
	margin-top: 5rem;
	color: #00000090;
	font-size: 1.5rem;
}


@media all and (max-width: 500px) { 

.tituli {
	font-size: 1.5rem;
}
.T{
	font-size: 1rem;
	color: #000000;
}

}