*{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.fondo {
  z-index: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  
}

.tarjetita {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HERO {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ACO {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navi {

}

.burguer {
  display: none;
}

@media all and (max-width: 1300px) { 
.burguer {
display: flex;
}
.navi{
display: none;
}
}