.todo {
  width: 100%;
  height: 100%;
}

.tarjetita {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HERO {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ACO {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navi {

}

.burguer {
  display: none;
}

@media all and (max-width: 1300px) { 
.burguer {
display: flex;
}
.navi{
display: none;
}
}